
body {
  margin: 0px;
  font-family: georgia;
  font-size: 17px;
  color: black;
  display: block;
}

header {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  color: aquamarine;
  align-items: center;
  height: 80px;
  z-index: 1;
  border-bottom: 1px solid black;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.logo img {
  margin-right: 12px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
}

div {
  border: 1px solid black;
  display: block;
}

.content {
  display: flex;
  border: 1px black solid;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.lead-story .image-content {
  background-image: image(resources\images\img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
